p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

.link {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  border: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto";
  font-style: normal;
  color: #86e543;
  background-color: #043835;
}

.container.accessories_container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 479.9px) {
    width: 480px;
  }

  @media screen and (min-width: 767.9px) {
    width: 768px;
    padding-right: 40px;
    padding-left: 40px;
  }

  @media screen and (min-width: 1279.9px) {
    width: 1280px;
  }
}

.accessories {
  font-family: "Roboto";
  font-style: normal;
  color: #86e543;
  background-color: #043835;
  padding: 40px 0;
  display: list-item;

  @media screen and (min-width: 768px) {
    padding: 120px 0;
  }
}

.buttons {
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 272px;
  }
}

.buttons__list {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 68px;
    gap: 53px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 72px;
    gap: 44px;
  }
}

.buttons__item {
  @media screen and (max-width: 768px) {
    width: calc((100% - 24px) / 2);
  }
}

.buttons__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(19px / 16px);
  width: 124px;
  height: 35px;
  color: #86e543;
  background-color: inherit;
  border-radius: 16px;
  border: 1px solid #86e543;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 132px;
    height: 51px;
  }

  @media screen and (min-width: 1280px) {
    width: 168px;
  }

  &:focus,
  &:hover {
    color: #01383a;
    background-color: #86e543;
    box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
  }
}

.all-accessories__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: calc(28px / 24px);
  margin-bottom: 27px;

  color: #ffffff;
  @media screen and (min-width: 768px) {
    margin-left: calc(142px - 40px);
    font-size: 56px;
    line-height: calc(66px / 56px);
    margin-bottom: 51px;
  }
}

.line1 {
  border: 1px solid #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
  width: 100%;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    margin: auto;
    width: 100%;
  }
}

.line2 {
  border: 1px solid #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
  width: 100%;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 24px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 auto;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    gap: 38px;
    max-width: 608px;
  }

  @media screen and (min-width: 1280px) {
    gap: 20px;
  }
}

.cards__item {
  margin: 0 auto;
  max-width: 285px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 38px) / 2);
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 60px) / 4);
  }
}

.cards__link {
  display: block;
  cursor: pointer;
}

.cover-container {
  max-width: 285;
  height: 276;
  border: 1px solid #86e543;
  box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
  border-radius: 12px;
}

.cover-container__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.cover-container {
  position: relative;
  overflow: hidden;
}

.cover-container__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16px / 14px);

  position: absolute;
  padding: 16px 16px 0 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: #043835;

  transition-property: transform;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .cards__link:focus &,
  .cards__link:hover & {
    transform: translateY(0);
  }
}

.card-contant {
  width: 100%;
  padding: 8px 16px 8px 8px;
}

.card-contant__title {
  margin-bottom: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: calc(26px / 22px);
  color: #86e543;
}

.card-price {
  display: flex;
  align-items: center;
  gap: 80px;

  &__item:first-child {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-decoration-line: line-through;
    color: #8d9289;
  }

  &__item:last-child {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 100%;
    /* identical to box height, or 20px */
    color: #86e543;
  }
}
